# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 

envapi/bin/
envapi/include/
envapi/lib/
envapi/lib64/
envapi/pyvenv.cfg
envapi/file
envapi/__pycache__/
envapi/lib64/
envapi/share/
envapi/yuntu.db
envapi/test.py

src-tauri/gen


todo.md